@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    background: transparent;
    box-sizing: border-box;
    font-family: "Outfit", "Sarabun", sans-serif;
    scroll-behavior: smooth;
}



/* ---------------------------------------- */

/*    ABA  SOCIAL LINKS */

.socialIcon-linkedin,
.socialIcon-github {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 150px;
    height: 60px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease, opacity 1s ease;
    z-index: 10;
    opacity: 0;
    pointer-events: none; /* Prevent interaction until fully visible */
}

.socialIcon-linkedin {
    left: -80px;
    background: -webkit-linear-gradient(-45deg, #fbfcdb 0%, #e9defa 100%);
}

.socialIcon-github {
    top: 60%;
    right: -80px;
    background: -webkit-linear-gradient(45deg, #fbfcdb 0%, #e9defa 100%);/* Opposite gradient */
}

.socialIcon-linkedin:hover {
    left: 0; /* Expand on hover */
}

.socialIcon-github:hover {
    right: 0;
}

.socialIconLink {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #abaaaa;
    text-decoration: none;
    font-size: 1rem;
    padding-right: 20px;
    gap: 20px;
}

.socialIconLink p {
    color: #abaaaa;
}

@media (max-width: 576px) {
    .socialIcon-linkedin,
    .socialIcon-github {
        display: none;
    }
}

/*  GLOW COLOR TEXT  */

.aboutText {
 /* cursor: none; */
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><foreignObject width="100%" height="100%"><div xmlns="http://www.w3.org/1999/xhtml" class="c"></div>%3Cstyle%3E.c{width: 20px;aspect-ratio: 1;display: grid;}.c, .c:before {--_g: radial-gradient(circle, rgba(255,255,0,1) 0%, rgba(255,255,0,0) 70%) 50%;background: var(--_g)/34% 8% space no-repeat, var(--_g)/8% 34% no-repeat space;}.c:before {content: "";transform: rotate(45deg);}%3C/style%3E</foreignObject></svg>') 24 24, auto;
}

h1 {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><foreignObject width="100%" height="100%"><div xmlns="http://www.w3.org/1999/xhtml" class="c"></div>%3Cstyle%3E.c{width: 20px;aspect-ratio: 1;display: grid;}.c, .c:before {--_g: radial-gradient(circle, rgba(255,255,0,1) 0%, rgba(255,255,0,0) 70%) 50%;background: var(--_g)/34% 8% space no-repeat, var(--_g)/8% 34% no-repeat space;}.c:before {content: "";transform: rotate(45deg);}%3C/style%3E</foreignObject></svg>') 24 24, auto;
}

/*  EXPERIENCES   */

html {
    --line-color: #e5e7eb
}


/*  FOOTER  */

.custom-shape-divider-bottom-1718801133 {
  position: absolute;
  bottom: -30%;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1718801133 svg {
  position: relative;
  display: block;
  width: calc(105% + 1.3px);
  height: 150px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1718801133 .shape-fill {
  fill: #E9DEFA;
}




/*  *****  */

